
<h2>events</h2>

<div>
  <label>Add New event
  </label>
</div>
<div>
  <label>event ID:
    <input #ID />
  </label>
  <br>
  <label>Name:
    <input #name />
  </label>
  <br>
  <label>Organization:
    <input #org/>
  </label>
  <br>
  <label>Email:
    <input #email/>
  </label>
  <br>
  <label>Address:
    <input #address/>
  </label>
  <br>
  <label>City;
    <input #city/>
  </label>
  <br>

  <label>State;
    <input #state/>
  </label>
  <br>

  <br>
  <label>Zip:
    <input #zip/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add( ID.size,
                        name.value,
                        org.value,
                        email.value,
                        address.value,
                        city.value,
                        state.value,
                        zip.value);
        ID.size=0;
        name.value='';
        email.value='';
        address.value='';
        city.value='';
        state.value='';
        zip.value=''">
    add
  </button>
</div>
<hr>


<ul class="Remove events">
  <li *ngFor="let event of events">
    <a routerLink="/detail/{{event.id}}">
      <span class="badge">{{event.id}} {{event.name}}  </span>
    </a>
    <button class="delete" title="delete hero"
            (click)="delete(event)">x</button>
  </li>
</ul>





